@font-face {
  font-family: "Autography";
  src: url("./Autography.woff2") format("woff2");
}

@font-face {
  font-family: "AlphaBrights";
  src: url("./AlphaBrights.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("./Backdrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100vh;
}

header,
footer {
  font-family: Autography;
  color: goldenrod;
  background-color: rgba(17, 17, 17, 0.5);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  flex: 1;
  border-bottom: 3px solid goldenrod;
  justify-content: flex-end;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  line-height: 6rem;
  font-weight: 500;

  background-image: radial-gradient(rgb(17, 17, 17), transparent);

  border-top: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 3px solid goldenrod;
  border-left: 4px solid goldenrod;
  border-top-right-radius: 2rem;

  padding: 0 60px;
  margin: 20px 0 30px 0;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

  width: 100%;
  max-width: 1400px;
}

nav button {
  font-family: Roboto;
  font-size: 1.1rem;
  color: goldenrod;
  background: none;
  border: none;

  margin-bottom: 20px;

  position: relative;
  transition-duration: 50ms;
  cursor: pointer;
}

nav button::after {
  content: "";
  height: 3px;
  background-image: linear-gradient(
    to right,
    transparent,
    goldenrod,
    transparent
  );

  position: absolute;
  bottom: -2px;
  left: -20px;
  right: -20px;
}

nav button:hover {
  scale: 1.2;
}

nav button:hover::after {
  left: -30px;
  right: -30px;
}

.content {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background: rgba(17, 17, 17, 0.9);
  width: 100%;
  padding: 40px 0;
}

.headlineContainer {
  color: goldenrod;
  text-align: center;
  margin-bottom: 40px;

  position: relative;
}

.greeting {
  font-family: AlphaBrights;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 5rem;
}

.description-text {
  font-family: Roboto;
  color: goldenrod;
}

.hook-line {
  font-family: Autography;
  font-size: 2.5rem;
  color: goldenrod;

  position: absolute;
  bottom: 40px;
}

.restaurantName {
  font-family: Autography;
  font-size: 8rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  font-weight: 500;
}

.restaurantName::after {
  content: "";
  height: 3px;
  background-image: linear-gradient(
    to right,
    transparent,
    goldenrod,
    transparent
  );

  position: absolute;
  bottom: 10px;
  left: -60px;
  right: -150px;
}

footer {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  flex: 0.5;
  border-top: 3px solid goldenrod;
  justify-content: center;
}
