@font-face {
  font-family: "Autography";
  src: url("./fonts/Autography.woff2") format("woff2");
}

@font-face {
  font-family: "AlphaBrights";
  src: url("./fonts/AlphaBrights.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-BoldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-BlackItalic.woff2") format("woff2");
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Black.woff2") format("woff2");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-ThinItalic.woff2") format("woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-MediumItalic.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("./fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("./img/Backdrop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  height: 100vh;
}

header,
footer {
  font-family: Autography;
  color: goldenrod;
  background-color: rgba(17, 17, 17, 0.5);
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

header {
  flex: 1;
  border-bottom: 3px solid goldenrod;
  justify-content: flex-end;
}

h1 {
  font-size: 4rem;
  letter-spacing: 1rem;
  line-height: 6rem;
  font-weight: 500;

  background-image: radial-gradient(rgb(17, 17, 17), transparent);

  border-top: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 3px solid goldenrod;
  border-left: 4px solid goldenrod;
  border-top-right-radius: 2rem;

  padding: 0 60px;
  margin: 20px 0 30px 0;
  user-select: none;
}

nav {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;

  width: 100%;
  max-width: 1050px;
  user-select: none;
}

nav button {
  font-family: Roboto;
  font-size: 1.1rem;
  color: goldenrod;
  background: none;
  border: none;

  position: relative;
  cursor: pointer;
}

nav button::after {
  content: "";
  height: 3px;
  background-image: linear-gradient(
    to right,
    transparent,
    goldenrod,
    transparent
  );
  opacity: 0;

  position: absolute;
  bottom: -3px;
  left: 50%;
  right: 50%;
  transition-duration: 200ms;
}

nav button:hover::after {
  left: -10px;
  right: -10px;
  opacity: 1;
}

.content {
  flex: 4;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  color: goldenrod;
  background: rgba(17, 17, 17, 0.9);
  width: 100%;
  padding: 80px 0;
}

.headlineContainer {
  text-align: center;
  margin-bottom: 40px;

  position: relative;
  user-select: none;
}

.greeting {
  font-family: AlphaBrights;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 5rem;
}

.restaurantName {
  font-family: Autography;
  font-size: 8rem;
  letter-spacing: 1rem;
  line-height: 4rem;
  font-weight: 500;
}

.restaurantName::after {
  content: "";
  height: 3px;
  background-image: linear-gradient(
    to right,
    transparent,
    goldenrod,
    transparent
  );

  position: absolute;
  bottom: 10px;
  left: -60px;
  right: -150px;
}

.description-text {
  font-family: Roboto;
  color: goldenrod;
  text-align: center;
}

.hook-line {
  font-family: Autography;
  font-size: 2.5rem;

  position: absolute;
  bottom: 40px;
}

.menu-page-container {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 700px;
  padding-left: 140px;
}

.menu-page-container h2 {
  font-family: AlphaBrights;
  font-weight: 500;
  font-size: 3rem;

  position: relative;
  display: inline-block;
  cursor: pointer;
  user-select: none;
}

.menu-page-container h2::before {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 15px 30px 15px 0;
  border-color: transparent goldenrod transparent transparent;
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  transform: rotate(180deg);
}

.menu-page-container h2.open::before {
  transform: rotate(270deg);
}

.menu-page-container h3 {
  font-family: Autography;
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
}

.dish-content {
  display: none;
}

.dish-container {
  position: relative;
}

.dish-description,
.dish-price {
  font-family: Roboto;
  font-size: 1rem;
}

.dish-description {
  margin-bottom: 40px;
}

.dish-price {
  position: absolute;
  right: 10%;
  bottom: 0;
}

.about-page-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 100%;
  max-width: 700px;
  height: 100%;
  position: relative;
}

.headline-container {
  width: 100%;
  max-width: 400px;
}

.main-headline {
  font-family: Autography;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1rem;

  text-align: left;
  position: relative;
}

.main-headline::after {
  content: "";
  height: 2px;
  background-image: linear-gradient(to right, goldenrod, transparent);

  position: absolute;
  bottom: 0;
  left: -30px;
  right: -120px;
}

.sub-headline {
  font-family: Roboto;
  font-size: 1.1rem;
  text-align: right;
}

.about-content {
  font-family: Roboto;
  font-size: 0.95rem;
}

.signature {
  font-family: AlphaBrights;
  font-weight: 500;
  font-size: 2rem;

  position: absolute;
  bottom: -50px;
  right: 60px;
}

footer {
  font-size: 1.5rem;
  letter-spacing: 0.25rem;
  flex: 0.5;
  border-top: 3px solid goldenrod;
  justify-content: center;
}

.picture-credit {
  font-family: Roboto;
  font-size: 0.7rem;
}

.picture-credit a {
  text-decoration: none;
  color: inherit;
}
